.task-cell {
  padding: 5px 0 5px 0;
  float: left;
}

.text-cell {
  flex: 1 1 auto;
  background-color: rgb(244, 250, 255);
}

.priority-cell {
  width: 100px;
  background-color: rgb(244, 250, 255)
}

.status-cell {
  width: 100px;
  background-color: rgb(244, 250, 255)
}
