.task-cell {
  padding: 5px 0 5px 20px;
  float: left;
}

.task-data {
  border-bottom: 1px solid cadetblue;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(244, 250, 255)
}

.task-wrapper:hover > .task-change-wrapper {
  display: block;
}

.task-wrapper:hover > .task-data {
  border-left: 1px solid cadetblue;
  border-right: 1px solid cadetblue;
  box-shadow: 2px 3px 3px grey;
  border-bottom: 0;
  background-color: rgb(225, 240, 255);
}

.task-change-wrapper {
  display: none;
  float: left;
  width: 100%;
  background-color: rgb(225, 240, 255);
  padding: 0 20px 5px 20px;
  box-sizing: border-box;
  border-left: 1px solid cadetblue;
  border-right: 1px solid cadetblue;
  border-bottom: 1px solid cadetblue;
  border-radius: 0 0 10px 30px;
  margin: 0 0 5px 0;
  box-shadow: 2px 3px 3px grey;
}

.task-change {
  padding: 5px 0 0 0;
  border-top: 1px solid cadetblue;
}

.task-change .task-change-text {
  width: 100%;
  float: left;
  display: flex;
  margin: 0 0 10px 0;
}

.task-change .textarea {
  width: 100%;
  border-radius: 5px;
  border-color: cornflowerblue;
  margin: 0 0 0 10px;
  min-height: 35px;
  resize: vertical;
  max-height: 400px;
}
