<form #form="ngForm" novalidate>
  <div class="task-wrapper" (mouseleave)="updateIfNeeded()">
    <div class="task-data">
      <div class="task-cell text-cell">
        <div class="cell-content">
          {{task.text}}
        </div>
      </div>
      <div class="task-cell priority-cell">
        <div class="cell-content">
          {{task.priority}}
        </div>
      </div>
      <div class="task-cell status-cell">
        <div class="cell-content">
          {{task.state}}
        </div>
      </div>
    </div>
    <div class="task-change-wrapper">
      <div class="task-change">
        <div class="task-change-text">
          <div class="div1 left">
            Task text:
          </div>
          <textarea class="textarea" type="text" placeholder="Add task text..." name="taskText" [(ngModel)]="currentTask.text" required></textarea>
        </div>
        <select class="new-task-selectbox" name="taskPriority" [(ngModel)]="currentTask.priority" required>
          <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
        </select>
        <select class="new-task-selectbox" name="taskState" [(ngModel)]="currentTask.state" required>
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select>
        <button (click)="deleteTask()">Delete task</button>
      </div>
    </div>
  </div>
</form>
