<form novalidate #form="ngForm">
  <div class="new-task-div" style="display: flow-root">
    <div style="width: 100%">
      <label>Create new task:</label>
    </div>
    <div style="margin-top: 5px; float: left; width: 100%">
      <label style="margin-left: 20px; width: 30%; float: left; min-width: 200px">
        Text:
        <input placeholder="Add task text..." name="taskText" [(ngModel)]="newTask.text" required>
      </label>
    </div>
    <div style="float: left; width: 100%; margin: 5px 0 0 0;">
      <label style="margin-left: 20px; width: 40%; float: left; min-width: 200px">
        Priority:
        <input placeholder="Add task priority..." name="taskPriority" [(ngModel)]="newTask.priority" required>
      </label>
      <select name="taskStatus" [(ngModel)]="newTask.status" required>
        <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
      </select>
    </div>
    <div style="float: left; width: 100%;">
      <button style="float: right;" (click)="checkAndAddCard(newTask.text, newTask.priority, newTask.status)">Create task</button>
    </div>
  </div>
</form>
