<form novalidate #form="ngForm">
  <div class="new-task-div">
    <div class="full">
      <label>Create new task:</label>
    </div>
    <div class="textarea-wrapper">
      <div class="textarea-content">
        <div class="div1 left">
          Task text:
        </div>
        <textarea class="textarea" type="text" placeholder="Add task text..." name="taskText" [(ngModel)]="newTask.text" required>
        </textarea>
      </div>
    </div>
    <div class="other-parameters">
      <div class="parameter-wrapper">
        <div class="div1 left">
          Priority:
        </div>
        <select class="new-task-selectbox" name="taskPriority" [(ngModel)]="newTask.priority" required>
          <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
        </select>
      </div>
      <div class="parameter-wrapper">
        <div class="div1 left">
          Status:
        </div>
        <select class="new-task-selectbox" name="taskStatus" [(ngModel)]="newTask.status" required>
          <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
        </select>
      </div>
    </div>
    <div class="full-element-row">
      <button (click)="checkAndAddCard(newTask.text, newTask.priority, newTask.status)">Create task</button>
    </div>
  </div>
</form>
