<form #form="ngForm" novalidate>
  <div class="new-task-wrapper">
    <div class="new-task-div">
      <div class="new-task-title">
        <label>Create new task</label>
      </div>
      <img src="assets/img/arrow-gray-icon.png" alt="arrow-gray" class="transition-arrow">
      <div class="textarea-wrapper">
        <div class="textarea-content">
          <div class="div1 left">
            Task text:
          </div>
          <textarea class="textarea" type="text" placeholder="Add task text..." name="taskText" [(ngModel)]="newTask.text" required>
          </textarea>
        </div>
      </div>
      <div class="other-parameters">
        <div class="parameter-wrapper">
          <div class="div1 left">
            Priority:
          </div>
          <select class="new-task-selectbox" name="taskPriority" [(ngModel)]="newTask.priority" required>
            <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
          </select>
        </div>
        <div class="parameter-wrapper">
          <div class="div1 left">
            Status:
          </div>
          <select class="new-task-selectbox" name="taskState" [(ngModel)]="newTask.state" required>
            <option *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
        </div>
        <div class="parameter-wrapper">
          <div class="div1 left">
            Created:
          </div>
          <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Right now..." [(ngModel)]="newTask.created" name="createdDatePicker">
          <owl-date-time #dt1></owl-date-time>
        </div>
        <div class="parameter-wrapper">
          <div class="div1 left">
            Closed:
          </div>
          <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Undefined..." [(ngModel)]="newTask.closed" name="closedDatePicker">
          <owl-date-time #dt2></owl-date-time>
        </div>
      </div>
      <div class="full-element-row">
        <button (click)="checkAndAddTask()">Create task</button>
      </div>
    </div>
  </div>
</form>
