.new-task-div {
  display: flow-root;
  padding: 10px 10px 10px 20px;
  border: 2px solid cornflowerblue;
  border-radius: 20px;
  box-shadow: 4px 5px 20px grey;
  transition: max-height 5s;
  max-height: 0;
  min-height: 20px;
  font-size: 17px;
  overflow: hidden;
  color: darkslategray;
}

.new-task-div .textarea-wrapper {
  float: left;
  margin: 5px 0 0 0;
  display: flex;
  width: 100%;
}

.new-task-div .textarea-label {
  margin: 0 20px 0 20px;
  float: left;
  display: flex;
  flex: 1 1 auto;
  line-height: 35px;
}

.new-task-div .textarea {
  border-radius: 5px;
  border-color: cornflowerblue;
  flex: 1 1 auto;
  margin: 0 0 0 10px;
  min-height: 35px;
  resize: vertical;
  max-height: 400px;
}

.new-task-div .other-parameters {
  float: left;
  margin: 10px 0 10px 20px;
}

select.new-task-selectbox {
  border-radius: 5px;
  border-color: cornflowerblue;
  margin: 0 0 0 10px;
}

.full-element-row {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}

.textarea-content {
  width: 100%;
  display: flex;
  margin: 0 0 0 20px
}

.new-task-wrapper:hover > .new-task-div  {
  /*max-height: 500px;*/
  /*transition: max-height 1s;*/
}

.new-task-div {
  max-height: 500px;
}

.new-task-wrapper:hover > .new-task-div .textarea-wrapper {
  float: left;
  margin: 5px 0 0 0;
  display: flex;
  width: 100%;
}

.new-task-title {
  padding: 0 0 10px 0;
  float: left;
}
