<div style="display: flow-root; margin-top: 10px" *ngIf="tasks.length > 0">
  <div style="width: 100%; margin-bottom: -2px;">
    <div class="tasks-tab-element">
      Tasks list
    </div>
  </div>
  <div class="tasks-table">
    <div style="float:left; width: 100%; display: flex;">
      <div class="tasks-column-header textColumn">Text</div>
      <div class="tasks-column-header">Priority</div>
      <div class="tasks-column-header">Status</div>
    </div>
    <wn-task *ngFor="let task of tasks" [task]="task"></wn-task>
  </div>
</div>
