<!--TODO vyriešiť problém s volaním metódy length na tasks, ktora v danom okamihu este nie je naplnena - nemal by som toto presunuť
rovno do task-view componentu, kde ešte tasky neprichadzaju cez input-->
<div class="task-list-wrapper" *ngIf="tasks.length > 0">
  <div class="task-list-tabs">
    <div class="tasks-tab-element">
      Tasks list
    </div>
  </div>
  <div class="tasks-table">
    <div class="task-list-header">
      <div class="tasks-column-header textColumn">Text</div>
      <div class="tasks-column-header">Priority</div>
      <div class="tasks-column-header">State</div>
    </div>
    <wn-task *ngFor="let task of tasks" [task]="task"></wn-task>
  </div>
</div>
