<div id="header-wrapper">
  <div class="header-image">
    <img src="assets/img/wn_icon_64x64.png" alt="Logo"/>
  </div>
  <div class="header-title-background">
    <div class="header-title" routerLink="/notes">
      Work-notes
    </div>
  </div>
  <div class="header-base">
    <div class="menu-item menu-active-element" routerLink="/register">
      Registration
    </div>
    <div class="menu-item menu-active-element" routerLink="/login" *ngIf="!currentUserName">
      Login
    </div>
    <div class="menu-item" *ngIf="currentUserName">
      <div class="left menu-active-element" routerLink="/user-data-update">
        {{currentUserName}}
      </div>
      <div class="left">||</div>
      <div class="left menu-active-element" routerLink="/login" (click)="logout()">
        Logout
      </div>
    </div>
    <div class="menu-item menu-active-element">
      About
    </div>
    <div class="menu-item menu-active-element">
      Licence
    </div>
    <div class="menu-item menu-active-element" routerLink="/notes">
      Work-notes
    </div>
  </div>
</div>
