<wn-new-task></wn-new-task>
<!--TODO toto by sa dalo určite vyriešiť lepšie - nie napĺňať tasksCount... možno s použitím "async"?-->
<div *ngIf="tasksCount > 0" class="task-list-wrapper">
  <div class="task-list-tabs">
    <div (click)="changeSelectedTab(taskTabViews.SIMPLE_LIST_VIEW)" class="tasks-tab-element">
      Tasks list
    </div>
    <div (click)="changeSelectedTab(taskTabViews.TASKS_BY_DAY_VIEW)" class="tasks-tab-element">
      Tasks by day
    </div>
  </div>
  <div class="tasks-table">
    <wn-tasks-list *ngIf="tabSelected == taskTabViews.SIMPLE_LIST_VIEW" [tasks]="tasks"></wn-tasks-list>
    <wn-tasks-by-day *ngIf="tabSelected == taskTabViews.TASKS_BY_DAY_VIEW" [tasks]="tasks"></wn-tasks-by-day>
  </div>
</div>
