.tasks-tab-element {
  position: relative;
  z-index: 10;
  background-color: rgba(241, 244, 248, 1);
  width: 101px;
  border-top: 2px solid cornflowerblue;
  border-left: 2px solid cornflowerblue;
  border-right: 2px solid cornflowerblue;
  border-radius: 10px 20px 0 0;
  text-align: center;
  margin: 0 -5px -2px 0;
  float: left;
  padding: 6px 10px 6px 10px;
}

.task-list-wrapper {
  float: left;
  width: 100%;
  display: flow-root;
  margin-top: 10px;
  color: darkslategray;
}

.task-list-tabs {
  width: 100%;
  display: flow-root;
}

.tasks-table {
  padding: 10px;
  border: 2px solid cornflowerblue;
  border-radius: 0 10px 10px 10px;
  box-shadow: 4px 5px 20px grey;
}
